/* fira-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fira-sans-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/fira-sans-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/fira-sans-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    size-adjust: 102%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    font-family: "Fira Sans", "Roboto", system-ui, sans-serif;
}

.text-gradient {
    color: transparent;
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    line-height: 150%;
    font-display: block;
    letter-spacing: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparenttext;
}
.block-gradient {
    overflow: hidden;
    background: linear-gradient(270deg, #356c76a8 0%, #121826c9 100%), url(/assets/images/noise.svg);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.block-gradient-light {
    overflow: hidden;
    background: linear-gradient(270deg, #a3a3a3a8 0%, #8390acc9 100%), url(/assets/images/noise.svg);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.glass {
    opacity: 0.75;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(200 208 219);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(51 65 85);
    background-clip: content-box;
    border: 5px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
