@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    font-family: "Fira Sans","Roboto", system-ui, sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(200 208 219);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(51 65 85);
    background-clip: content-box;
    border: 5px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

