footer.footer.p-10.bg-grey-800.text-gray-500
    nav.flex.flex-wrap.justify-center.-mx-5.-my-2
      .px-5.py-2
        a.text-base.leading-6(href='#' class='hover:text-gray-900')
          | About
      .px-5.py-2
        a.text-base.leading-6(href='#' class='hover:text-gray-900')
          | Blog
      .px-5.py-2
        a.text-base.leading-6(href='#' class='hover:text-gray-900')
          | Team
      .px-5.py-2
        a.text-base.leading-6(href='#' class='hover:text-gray-900')
          | Pricing
      .px-5.py-2
        a.text-base.leading-6(href='#' class='hover:text-gray-900')
          | Contact
      .px-5.py-2
        a.text-base.leading-6(href='#' class='hover:text-gray-900')
          | Terms
    p.mt-8.text-base.leading-6.text-center
      | &copy; 2024 Serialyz. All rights reserved.

