doctype html
html(lang="en")
    include head

    body(class='antialiased bg-slate-200 dark:bg-gray-900 '+bodyClass)

        include nav

        <!-- React Components -->
        main(id="root")


        <!-- Webpack -->
        script(src='/dist/index.js?v='+version)
        include foot
